@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root{
    --branco: #fff;
    --gelo: #f1f1f1;
    --verde: #19c463;
    --preto: #2a2a2a;
}

body{
    font-family: "Bebas Neue", sans-serif;
}

.nav-top.cart{
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: var(--branco);
    padding: 10px 0px;
    align-items: center;
}

.nav-top.cart a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid var(--gelo);
    border-radius: 50%;
    color: var(--preto);
}

.nav-top.cart a:first-child{
    margin-left: 20px;
}
.nav-top.cart a:last-child{
    margin-right: 20px;
}

#listaCarrinho{
    display: flex;
    flex-flow: column wrap;
    margin-top: 20px;
    padding-bottom: 280px;
}

.item-carrinho{
    display: flex;
    align-items: center;
    width: 90%;
    height: 120px;
    margin: auto;
    border-bottom: 1px solid var(--gelo);
    padding: 10px 0px;
}

.area-img {
    flex: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--gelo);
    border-radius: 20px;
}

.area-img img {
    max-width: 120px;
    height: 120px;
    object-fit: contain;
}